/* Custom styles */
body {
  background-color: #121212;
  color: white;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #000000c9 !important;
  padding: 15px;
  position: absolute !important;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-right: 80px !important;
  padding-left: 80px !important;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0dcaf0;
}

.navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
  font-size: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #0dcaf0;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.carousel-item {
  position: relative;
}

.carousel-inner img {
  object-fit: cover;
  object-position: center;
  height: 600px;
  filter: grayscale(30%);
  transition: filter 0.5s ease-in-out;
  z-index: 0;
}
.carousel-inner img {
  object-fit: cover;
  object-position: center;
  height: 600px;
  filter: grayscale(30%);
  transition: filter 0.5s ease-in-out;
}

.carousel-inner img:hover {
  filter: grayscale(0%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.795);
  border-radius: 20%;
  padding: 15px;
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 99 !important;
}
.info-section {
  position: absolute;
  top: 235px;
  z-index: 99 !important;
  padding: 0px 150px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.info-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.info-section p {
  color: #f1f1f1;
  font-size: 1.1rem;
}

.card-section {
  background-color: #000000;
}
.card-sec-row {
  padding: 50px !important ;
}
.card-body {
  background: linear-gradient(
    90deg,
    rgba(43, 144, 53, 1) 0%,
    rgba(177, 40, 126, 1) 55%,
    rgba(98, 0, 255, 1) 100%
  );
}
.card {
  background-color: #2a2a2a;
  color: white;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  min-height: 400px !important;
  cursor: pointer;
}

.card img {
  object-fit: cover;
  object-position: center;
  height: 250px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: #1f1f1f;
  padding: 20px 0;
}

.social-icons a {
  margin: 0 10px;
  color: #0dcaf0;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: white;
}
